In [1]:
import sys
#sys.path
sys.path.insert(0, '../')

In [2]:
sys.path

['../',
 'C:\\Users\\user\\Documents\\Accelerate\\CollaborativeProject\\recommendation_system\\collaborative_filtering',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\python37.zip',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\DLLs',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\lib',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender',
 '',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\lib\\site-packages',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\lib\\site-packages\\win32',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\user\\Anaconda3\\envs\\recommender\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\user\\.ipython']

In [3]:
import pandas as pd
from Data_cleaning import get_clean_data
from Data_cleaning import get_merged_data_frame

In [4]:
# Ctrl+/
# def merge_data_frame(user_argv=-1, isbn_argv=-1):

#     # merge ratings table with users table by user_ID
#     df_merges = pd.merge(df_ratings, df_users, on='user')

#     # based on the previous df_merges merge with books table by isbn
#     df_merges = pd.merge(df_merges, df_books, on='isbn')

#     # find user that has more than [No. of review] and filter it
#     df_merges['user'] = df_merges.groupby('isbn')['user'].filter(lambda x: len(x) > user_argv)

#     # find books that has more than [No. of users] and filter it
#     df_merges['isbn'] = df_merges.groupby('user')['isbn'].filter(lambda x: len(x) > isbn_argv)

#     # drop out the users that is null
#     df_merges = df_merges[pd.notnull(df_merges['user'])]

#     # drop out the books that is null
#     df_merges = df_merges[pd.notnull(df_merges['isbn'])]

#     # convert the user_ID to string type
#     df_merges['user'] = df_merges['user'].astype('int').astype('str')

#     return df_merges

### Load Data  
we now load the data using Alfred's framework.

In [5]:
df_merged = get_merged_data_frame(user_argv=10, isbn_argv=10, path='../data/')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\user\Anaconda3\envs\recommender\lib\site-packages\IPython\core\interactiveshell.py:3267: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
..\Data_cleaning.py:89: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_users.age[(df_users.age == 0) | (df_users.age > 122)] = None

In [6]:
# #cleaned versions of data
# df_books, df_users, df_ratings = get_clean_data(path='../data/')

# print('df_books:', df_books.shape)
# print('df_users:', df_users.shape)
# print('df_ratings:', df_ratings.shape)

Actually we only need the data from df_ratings. But we merge the data and just deleting most of columns again.
We now end with less rows, because we have some ratings without corresponding books in df_books.

In [12]:
# #df_merges = merge_data_frame() # ????
# #data = merge_data_frame(user_argv=-1, isbn_argv=-1)
# data = merge_data_frame(user_argv=10, isbn_argv=10)
# print(data.shape) 
# # (1031132, 14)

# data = data.drop(['location', 'age', 'country', 'province',
#                   'title', 'author', 'pub_year', 'publisher',
#                   'url_s', 'url_m', 'url_l'], axis=1)
# print(data.shape)

# #%% RATINGS THRESHOLD FILTERS
# # filter by both ISBN and users
# usersPerISBN = data.isbn.value_counts()
# ISBNsPerUser = data.user.value_counts()

# #print('usersPerISBN', usersPerISBN)
# #print('ISBNsPerUser', ISBNsPerUser)

(379317, 14)
(379317, 3)

In [9]:
print(df_merged.shape)
df_merged = df_merged.drop(['location', 'age', 'country', 'province',
                   'title', 'author', 'pub_year', 'publisher',
                   'url_s', 'url_m', 'url_l'], axis=1)
print(df_merged.shape)

(379317, 14)
(379317, 3)

In [10]:
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([(x, sys.getsizeof(globals().get(x))) for x in dir() if not x.startswith('_') and x not in sys.modules and x not in ipython_vars], key=lambda x: x[1], reverse=True)

[('df_merged', 55236156),
 ('get_clean_data', 136),
 ('get_merged_data_frame', 136),
 ('pd', 80)]

In [67]:
data.head()
data[(data.user == '2313') & (data.rating == 5)]

        user        isbn  rating
1       2313  034545104X       5
51202   2313  0385482388       5
129253  2313  0399146431       5

To process

In [59]:
#ratings = pd.read_csv('../data/BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding="iso-8859-1")
#print(ratings.shape) #(1149780, 3)

#ratings_referenced = ratings[ratings['ISBN'].isin(df_books.isbn)]
#print(ratings_referenced.shape)
#ratings['isbn'].isin(list(df_books['isbn']))
#df_books.isbn

we now threshold our data, i.e. only account for data where users have at least 10 ratings (explicit or implicit).

In [60]:
data.shape

(500229, 3)

In [61]:
print(data.shape) #(1031132, 3)
data = data[data["isbn"].isin(usersPerISBN[usersPerISBN>10].index)]
print(data.shape) #(500229, 3)

(500229, 3)
(500229, 3)

In [62]:
print(data.shape) #(500229, 3)
data = data[data["user"].isin(ISBNsPerUser[ISBNsPerUser>10].index)]
print(data.shape) #(379317, 3)

(500229, 3)
(379317, 3)

In [63]:
#%% CREATE RATINGS MATRIX
userItemRatingMatrix=pd.pivot_table(data, values='rating',
                                    index=['user'], columns=['isbn'])

In [79]:
#type(userItemRatingMatrix)

#userItemRatingMatrix.head()
#userItemRatingMatrix.columns
#2313
#userItemRatingMatrix.iloc[2313]
#sum(userItemRatingMatrix.iloc[2313] == 5)

**what the hell is this?**

In [80]:
#%% THRESHOLD CI
""""""from scipy.stats import sem, t
from scipy import mean
confidence = 0.95
data = ratings_per_isbn['count']

n = len(data)
m = mean(data)
std_err = sem(data)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

start = m - h
print (start)"""
#%% VIS ISBN & USER COUNT
"""import seaborn as sns
ax = sns.distplot(ratings_per_isbn['count'])
ax2 = ax.twinx()
sns.boxplot(x=ratings_per_isbn['count'], ax=ax2)
ax2.set(ylim=(-0.5, 10))"""

"import seaborn as sns\nax = sns.distplot(ratings_per_isbn['count'])\nax2 = ax.twinx()\nsns.boxplot(x=ratings_per_isbn['count'], ax=ax2)\nax2.set(ylim=(-0.5, 10))"

In [81]:
#%%
import numpy as np
from scipy.spatial.distance import hamming

def distance(user1,user2):
        try:
            user1Ratings = userItemRatingMatrix.transpose()[str(user1)]
            user2Ratings = userItemRatingMatrix.transpose()[str(user2)]
            distance = hamming(user1Ratings,user2Ratings)
        except: 
            distance = np.NaN
        return distance 
#%%
def nearestNeighbors(user,K=10):
    allUsers = pd.DataFrame(userItemRatingMatrix.index)
    allUsers = allUsers[allUsers.user!=user]
    allUsers["distance"] = allUsers["user"].apply(lambda x: distance(user,x))
    KnearestUsers = allUsers.sort_values(["distance"],ascending=True)["user"][:K]
    return KnearestUsers

In [82]:
#%% DEBUGGING
"""NNRatings = userItemRatingMatrix[userItemRatingMatrix.index.isin(KnearestUsers)]
NNRatings"""
"""avgRating = NNRatings.apply(np.nanmean).dropna()
avgRating.head()"""
"""booksAlreadyRead = userItemRatingMatrix.transpose()[str(user)].dropna().index
booksAlreadyRead"""
""""avgRating = avgRating[~avgRating.index.isin(booksAlreadyRead)]"""

'"avgRating = avgRating[~avgRating.index.isin(booksAlreadyRead)]'

In [96]:
#%%
def bookMeta(isbn):
#df_books.set_index('isbn', inplace=True)
#    title = books.at[isbn,"title"]
#    author = books.at[isbn,"author"]
    title = df_books.at[isbn,"title"]
    author = df_books.at[isbn,"author"]
    return title, author

def faveBooks(user,N):
    userRatings = data[data["user"]==user]
    sortedRatings = pd.DataFrame.sort_values(userRatings,['rating'],ascending=[0])[:N] 
    sortedRatings["title"] = sortedRatings["isbn"].apply(bookMeta)
    return sortedRatings

def topN(user,N=3):
    KnearestUsers = nearestNeighbors(user)
    NNRatings = userItemRatingMatrix[userItemRatingMatrix.index.isin(KnearestUsers)]
    avgRating = NNRatings.apply(np.nanmean).dropna()
    booksAlreadyRead = userItemRatingMatrix.transpose()[user].dropna().index
    avgRating = avgRating[~avgRating.index.isin(booksAlreadyRead)]
    topNISBNs = avgRating.sort_values(ascending=False).index[:N]
    return pd.Series(topNISBNs).apply(bookMeta)

In [97]:
#%% DEBUGGING
"""N=3
topNISBNs = avgRating.sort_values(ascending=False).index[:N]
pd.Series(topNISBNs).apply(bookMeta)"""
"""user = '204622'
topN(user)"""

"user = '204622'\ntopN(user)"

In [98]:
#%% DEBUGGING
"""N=3
topNISBNs = avgRating.sort_values(ascending=False).index[:N]
pd.Series(topNISBNs).apply(bookMeta)"""
"""user = '204622'
topN(user)"""

"user = '204622'\ntopN(user)"

In [99]:
df_books.index
#df_books.set_index('isbn', inplace=True)

Index(['0195153448', '0002005018', '0060973129', '0374157065', '0393045218',
       '0399135782', '0425176428', '0671870432', '0679425608', '074322678X',
       ...
       '0762412119', '1582380805', '1845170423', '014002803X', '0449906736',
       '0440400988', '0525447644', '006008667X', '0192126040', '0767409752'],
      dtype='object', name='isbn', length=271357)

In [100]:
bookMeta('034545104X')

('Flesh Tones: A Novel', 'M. J. Rose')

In [102]:
faveBooks('204622', 5)

,user,isbn,rating,title
8575,204622,0385504209,10,"(The Da Vinci Code, Dan Brown)"
65948,204622,0671027360,10,"(Angels &amp; Demons, Dan Brown)"
169393,204622,0060935464,9,"(To Kill a Mockingbird, Harper Lee)"
499333,204622,1878424114,9,(The Seven Spiritual Laws of Success: A Practi...
484364,204622,0671666258,8,"(American Star, Jackie Collins)"

In [103]:
topN('204622', 5)

C:\Users\user\Anaconda3\envs\recommender\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

0              (Love, Greg &amp; Lauren, Greg Manning)
1    (The Two Towers (The Lord of the Rings, Part 2...
2    (Harry Potter and the Sorcerer's Stone (Book 1...
3                       (Charlotte's Web, E. B. White)
4             (The Secret Life of Bees, Sue Monk Kidd)
Name: isbn, dtype: object